@import "../extend/extend";
@import "../animation/animation";

#wrap {
  .content {
    .mainList {
      & > li {
        &.works {
          & > div {
            .works1 {
              @extend .commonTitle;
              margin: 50px 0 100px 50px;
              position: relative;
              z-index: 8;
            }

            .works2 {
              margin-left: 50px;
              position: relative;
              z-index: 8;

              .item {
                float: left;
                width: 220px;
                height: 133px;
                margin: 0 1px;
                overflow: hidden;
                position: relative;

                &:nth-child(4) {
                  width: 332px;
                }

                & > img {
                  transition: transform .5s;

                }

                .mask {
                  box-sizing: border-box;
                  width: 100%;
                  height: 100%;
                  padding: 15px;
                  position: absolute;
                  left: 0;
                  top: 0;
                  background: rgba(25, 25, 25, 0.8);
                  opacity: 0;
                  transition: opacity .5s;
                  color: white;

                  .icon {
                    margin: 10px auto 0;
                    width: 32px;
                    height: 34px;
                    background: url("../../static/img/zoomico.png") no-repeat;
                    transition: background-position .5s;

                    &:hover {
                      background-position: 0 -36px;
                    }
                  }
                }

                &:hover {
                  & > img {
                    transform: rotate(30deg) scale(1.5);

                  }

                  .mask {
                    opacity: 1;
                  }

                }
              }
            }

            .works3 {
              z-index: 8;
              position: absolute;
              left: 900px;
              top: 170px;
              width: 167px;
              height: 191px;
              background: url("../../static/img/robot.png") no-repeat;
              animation: move 2.5s linear infinite;
            }

            .pencel1 {
              width: 180px;
              height: 97px;
              background: url(../../static/img/pencel1.png) no-repeat;
              position: absolute;
              transition: 1s;
              left: 500px;
              top: 0;
            }

            .pencel2 {
              width: 268px;
              height: 38px;
              background: url(../../static/img/pencel2.png) no-repeat;
              position: absolute;
              transition: 1s;
              left: 300px;
              top: 250px;
            }

            .pencel3 {
              width: 441px;
              height: 231px;
              background: url(../../static/img/pencel3.png) no-repeat;
              position: absolute;
              transition: 1s;
              left: 650px;
              top: 300px;
            }
          }
        }
      }
    }
  }
}


