@import "./reset/reset";
@import "./mixin/mixin";
@import "./extend/extend";
@import "./business/home";
@import "./business/course";
@import "./business/works";
@import "./business/about";
@import "./business/team";

html {
  body {
    #wrap {
      width: 100%;
      height: 100%;
      overflow: hidden;
      background: pink;
      position: relative;

      #header {
        width: 100%;
        height: 80px;
        background: white;

        .headerMain {
          width: 1100px;
          height: 80px;
          margin: 0 auto;
          position: relative;

          .logo {
            float: left;
            margin-top: 30px;
          }

          .headerNav {
            float: right;
            margin-top: 50px;

            .list {
              display: flex;

              li {
                position: relative;
                margin-left: 40px;

                &:nth-child(1) {
                  margin-top: 2px;
                }

                .cover {
                  color: #f012be;
                  position: absolute;
                  width: 0;
                  overflow: hidden;
                  transition: 1s width;
                }

                .active {
                  width: 100%;
                }

                &:hover {
                  .cover {
                    width: 100%;
                  }
                }

                .down {
                  color: gray;
                }
              }
            }
          }

          .arrow {
            position: absolute;
            width: 21px;
            height: 11px;
            background: url("../../static/img/menuIndicator.png");
            left: 0;
            bottom: -11px;
            transition: .5s;
            z-index: 9999;
          }
        }
      }

      .content {
        position: absolute;
        left: 0;
        top: 80px;
        right: 0;
        bottom: 0;
        overflow: hidden;
        .mainList {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          transition: top .5s linear;
          li {
            position: relative;
            background: url(../../static/img/bg1.jpg) no-repeat;

            div {
              position: absolute;
              left: 0;
              top: 0;
              bottom: 0;
              right: 0;
              margin: auto;
              height: 520px;
              width: 1100px;
              background: #17ffb7;
            }

            &.hone {

            }

            &.course {
              background: url(../../static/img/bg2.jpg) no-repeat;
            }

            &.works {
              background: url(../../static/img/bg3.jpg) no-repeat;
            }

            &.about {
              background: url(../../static/img/bg4.jpg) no-repeat;
            }

            &.team {
              background: url(../../static/img/bg5.jpg) no-repeat;
            }
          }


        }
        .points{
          position: absolute;
          right: 20px;
          top: 0;
          bottom: 0;
          margin: auto;
          width: 30px;
          height: 150px;
          li{
            box-sizing: border-box;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 2px solid gray;
            margin-top: 8px;
            &.active{
              background: deeppink;
            }

            &:hover{
              cursor: pointer;
            }
          }
        }
      }

    }
  }
}
